<!DOCTYPE html>
<html lang="en">
<head>
    <title>三系宿營計分板</title>
</head>
<body>
<iframe id="iframe-ybajoegosee" src="https://keepthescore.co/board/ybajoegosee/" style="width:100%;border:none;"></iframe>
  <script>
    window.onmessage = (e) => {if (e.data.hasOwnProperty("frameHeight")){document.getElementById("iframe-" + e.data.board_token).style.height = '100vh';}};
  </script>
<style>
    html {
      background-color: white;
    }
    video {
      display: none !important;
    }
    .container {
      height: 100vh;
    }
    .adthrive {
      display: none !important;
    }
    .adthrive-player-container {
      display: none !important;
    }
    .modal {
      display: none !important;
    }
  </style>
</body>
</html>
